body {
    background: #E0E1E2;
    font-family: sans-serif;
    color: #111111;
    user-select: none;
}

#eight-ball {
    border: solid, 3px, #111111;
    border-radius: 10px;
    width: 50%;
    height: 125px;
    margin: auto;
    margin-top: 15%;
    text-align: center;
    padding: 5px;
    position: relative;
}

#question {
    background: none;
    text-align: center;
    font-size: 22px;
}
            
#eight, #answer {
    text-align: center;
}